<link rel="import" href="../bower_components/polymer/polymer.html">

<!-- Iron elements -->
<link rel="import" href="../bower_components/iron-flex-layout/classes/iron-flex-layout.html">
<link rel="import" href="../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../bower_components/iron-icons/hardware-icons.html">
<link rel="import" href="../bower_components/iron-icons/maps-icons.html">
<link rel="import" href="../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../bower_components/iron-selector/iron-selector.html">
<link rel="import" href="../bower_components/iron-dropdown/iron-dropdown.html">

<!-- Paper elements -->
<link rel="import" href="../bower_components/paper-drawer-panel/paper-drawer-panel.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../bower_components/paper-item/paper-item.html">
<link rel="import" href="../bower_components/paper-material/paper-material.html">
<link rel="import" href="../bower_components/paper-menu/paper-menu.html">
<link rel="import" href="../bower_components/paper-scroll-header-panel/paper-scroll-header-panel.html">
<link rel="import" href="../bower_components/paper-styles/paper-styles-classes.html">
<link rel="import" href="../bower_components/paper-toast/paper-toast.html">
<link rel="import" href="../bower_components/paper-toolbar/paper-toolbar.html">
<link rel="import" href="../bower_components/paper-checkbox/paper-checkbox.html">
<link rel="import" href="../bower_components/paper-radio-group/paper-radio-group.html">
<link rel="import" href="../bower_components/paper-radio-button/paper-radio-button.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/paper-input/paper-input-container.html">
<link rel="import" href="../bower_components/paper-input/paper-input-error.html">
<link rel="import" href="../bower_components/paper-input/paper-input-char-counter.html">
<link rel="import" href="../bower_components/paper-input/paper-textarea.html">
<link rel="import" href="../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../bower_components/paper-styles/color.html">
<link rel="import" href="../bower_components/paper-styles/paper-styles.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-toggle-button/paper-toggle-button.html">
<link rel="import" href="../bower_components/paper-slider/paper-slider.html">
<link rel="import" href="../bower_components/paper-fab/paper-fab.html">
<link rel="import" href="../bower_components/paper-ripple/paper-ripple.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../bower_components/paper-dialog-scrollable/paper-dialog-scrollable.html">

<!-- Google elements -->
<link rel="import" href="../bower_components/google-chart/google-chart.html">
<link rel="import" href="../bower_components/google-feeds/google-feeds.html">
<link rel="import" href="../bower_components/google-map/google-map.html">
<link rel="import" href="../bower_components/google-map/google-map-marker.html">

<!-- Firebase elements -->
<link rel="import" href="../bower_components/firebase-element/firebase-auth.html">
<link rel="import" href="../bower_components/firebase-element/firebase-collection.html">
<link rel="import" href="../bower_components/firebase-element/firebase-document.html">

<!-- Neon animation -->
<link rel="import" href="../bower_components/neon-animation/neon-animations.html">
<link rel="import" href="../bower_components/neon-animation/animations/scale-up-animation.html">
<link rel="import" href="../bower_components/neon-animation/animations/fade-out-animation.html">

<!-- Gold Elements -->
<link rel="import" href="../bower_components/gold-email-input/gold-email-input.html">
<link rel="import" href="../bower_components/gold-phone-input/gold-phone-input.html">

<!-- Configure your routes here -->
<link rel="import" href="routing.html">

<!-- Styles -->
<link rel="import" href="../styles/app-theme.html">
<link rel="import" href="../styles/shared-styles.html">

<!-- Common Elements -->
<link rel="import" href="common/pa-menu.html">
<link rel="import" href="common/pa-pages.html">
<link rel="import" href="common/pa-search.html">
<link rel="import" href="common/pa-simple-grid.html">
<link rel="import" href="common/pa-page-title.html">
<link rel="import" href="common/pa-auth/pa-auth-data.html">
<link rel="import" href="common/pa-auth/pa-auth-info.html">
<link rel="import" href="common/pa-footer.html">
<link rel="import" href="common/pa-widgets/pa-widgets.html">

<!-- Pages -->

<link rel="import" href="pages/pa-post-shifts/pa-post-shifts.html">
<link rel="import" href="pages/pa-open-shifts/pa-open-shifts.html">
<link rel="import" href="pages/pa-schedule/pa-schedule.html">
<link rel="import" href="pages/pa-settings/pa-settings.html">
<link rel="import" href="pages/pa-ratings/pa-ratings.html">
<link rel="import" href="pages/pa-favorites/pa-favorites.html">



<link rel="import" href="pages/pa-charts/pa-charts.html">
<link rel="import" href="pages/pa-dashboard/pa-dashboard.html">
<link rel="import" href="pages/pa-form-elements/pa-form-elements.html">
<link rel="import" href="pages/pa-maps/pa-maps.html">
<link rel="import" href="pages/pa-tables/pa-tables.html">
<link rel="import" href="pages/pa-buttons/pa-buttons.html">
<link rel="import" href="pages/pa-ui-other/pa-ui-other.html">
<link rel="import" href="pages/pa-typo/pa-typo.html">
<link rel="import" href="pages/pa-profile/pa-profile.html">
<link rel="import" href="pages/pa-not-found/pa-not-found.html">