<script src="../bower_components/page/page.js"></script>
<script>
  window.addEventListener('WebComponentsReady', function() {

    function scrollToTop(ctx, next) {
      app.scrollPageToTop();
      next();
    }

    page('/', scrollToTop, function() {
      app.route = 'dashboard';
    });

    page('/dashboard', scrollToTop, function() {
      app.route = 'dashboard';
    });
    
    page('/post-shifts', scrollToTop, function() {
      app.route = 'post-shifts';
    });

    page('/open-shifts', scrollToTop, function() {
      app.route = 'open-shifts';
    });

    page('/schedule', scrollToTop, function() {
      app.route = 'schedule';
    });
        
    page('/favorites', scrollToTop, function() {
      app.route = 'favorites';
    });
    
    page('/ratings', scrollToTop, function() {
      app.route = 'ratings';
    });
    
    page('/settings', scrollToTop, function() {
      app.route = 'settings';
    });

    page('/charts', scrollToTop, function() {
      app.route = 'charts';
    });

    page('/tables', scrollToTop, function() {
      app.route = 'tables';
    });

    page('/form-elements', scrollToTop, function() {
      app.route = 'form-elements';
    });

    page('/typo', scrollToTop, function() {
      app.route = 'typo';
    });

    page('/buttons', scrollToTop, function() {
      app.route = 'buttons';
    });

    page('/ui-other', scrollToTop, function() {
      app.route = 'ui-other';
    });

    page('/maps', scrollToTop, function() {
      app.route = 'maps';
    });

    page('/user-profile', scrollToTop, function() {
      app.route = 'user-profile';
    });

    page('*', scrollToTop, function() {
      app.route = 'not-found';
    });

    // add #! before urls
    page({
      hashbang: true
    });

  });
</script>
