<dom-module id="pa-ratings">
  <template>
    <style include="shared-styles"></style>


Here a widget will be design for ratings.

  </template>

  <script>
    (function() {
      'use strict';

      Polymer({
        is: 'pa-ratings'
      });
    })();
  </script>

</dom-module>