<dom-module id="pa-favorites">
  <template>
    <style include="shared-styles"></style>


Here a widget will be design to SHOW favorites.

  </template>

  <script>
    (function() {
      'use strict';

      Polymer({
        is: 'pa-favorites'
      });
    })();
  </script>

</dom-module>