<dom-module id="pa-schedule">
  <template>
    <style include="shared-styles"></style>


Here a widget will be design to show schedule.

  </template>

  <script>
    (function() {
      'use strict';

      Polymer({
        is: 'pa-schedule'
      });
    })();
  </script>

</dom-module>