<dom-module id="pa-open-shifts">
  <template>
    <style include="shared-styles"></style>


Here a widget will be design to  show all open shifts.

  </template>

  <script>
    (function() {
      'use strict';

      Polymer({
        is: 'pa-open-shifts'
      });
    })();
  </script>

</dom-module>