<dom-module id="pa-post-shifts">
  <template>
    <style include="shared-styles"></style>


Here a widget will be design to post a shift.

  </template>

  <script>
    (function() {
      'use strict';

      Polymer({
        is: 'pa-post-shifts'
      });
    })();
  </script>

</dom-module>