<dom-module id="pa-settings">
  <template>
    <style include="shared-styles"></style>


Here a widget will be design to change settings.

  </template>

  <script>
    (function() {
      'use strict';

      Polymer({
        is: 'pa-settings'
      });
    })();
  </script>

</dom-module>